.custom-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #465566;
    color: #ffffff;
    position: relative;
  }
  
  .navbar-brand {
    font-size: 1.5rem; 
    font-weight: bold;
    cursor: pointer; 
  }
  
  .hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
  }
  
  .navbar-links a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1rem; 
  }
  
  .navbar-links a:hover {
    color: #D2E0FB;
  }
  
  /* responsive design */
  @media (max-width: 768px) {
    .navbar-links {
      display: none;
      flex-direction: column;
      background-color: #465566;
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      text-align: center;
      padding: 20px 0;
    }
  
    .navbar-links.active {
      display: flex;
    }
  
    .hamburger {
      display: block;
    }
  }
  