.modal2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;;
  z-index: 9998;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal2-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

.modal2-content {
  background: #fffaf0;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  position: relative;
  display: flex;
  flex-direction: column;  
  overflow-y: auto;
  max-height: 90%;
  width: 80%;
}

h2 {
  margin-bottom: 0;
  text-align: center;
  color: #333;
  font-size: 1.5rem;
}

.header-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;  
  margin-bottom: 0;  
}

.modal2-buttons {
  display: flex;
  justify-content: center;  
  gap: 10px;
  margin-top: auto; 
  padding-top: 10px;
}

.modal2-buttons button {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: 30%;
}

.modal2-buttons button:hover {
  background-color: #5f7187;
}

.discard-btn {
  background-color: #465566;
  color: white;
}

.archive-btn {
  background-color: #465566;
  color: white;
}

.save-btn {
  background-color: #465566;
  color: white;
}

.packing-list-btn {
  margin-bottom: 0;
  text-align: center;
  color: #333;
  font-size: 1rem;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fed990;

}

.packing-list-btn:hover {
  background-color: #f6dfb1;
}

.close-btn {
  position: absolute; 
  top: 10px;          
  right: 10px;         
  background: none;   
  border: none;        
  font-size: 2rem;     
  color: #545353;  
  cursor:pointer;       
}

.close-btn:hover {
  color: #949090;
  background: none;
}

.itinerary-section {
  margin-top: 20px;
}

.itinerary-list {
  display: flex;
  flex-direction: row;
  gap: 20px; 
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
}

.itinerary-item {
  display: flex; 
  flex-direction: column; 
  align-items: flex-start; 
  gap: 10px; 
  width: 100%;
  min-width: 300px;
}

.itinerary-date {
  font-weight: bold;
  text-align: left; 
  padding-bottom: 10px; 
  width: 100%; 
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: vertical;
  min-height: 300px;
  box-sizing: border-box;
}

textarea:focus {
  border-color: #545353;
  outline: none;
}

.modal-message {
  margin-top: 15px;
  padding: 10px;
  background-color: #e0ffe0;
  color: #2e7d32; 
  border: 1px solid #2e7d32;
  border-radius: 5px;
  text-align: center;
}

.modal-message.error {
  color: #d8000c; 
  background-color: #ffbaba; 
  padding: 10px; 
  border-radius: 5px; 
  margin-top: 1px; 
  margin-bottom: 10px;
}

/* responsive design */
@media (max-width: 768px) {
  .modal2-content {
    width: 90%;
    padding: 15px;
  }

  .modal2-buttons {
    grid-template-columns: 1fr; 
  }

  .itinerary-list {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    width: 100%; 
  }

  .itinerary-item {
    width: 100%;
    align-items: center; 
  }

  .itinerary-date {
    text-align: center; 
    width: auto; 
  }

  textarea {
    font-size: 14px; 
  }
}

